/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define SPLIT_USB_DETECT

#undef ZMK_MOUSE_DEFAULT_MOVE_VAL

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 7500  // 600

#undef ZMK_MOUSE_DEFAULT_SCRL_VAL

#define ZMK_MOUSE_DEFAULT_SCRL_VAL 70    // 10

#include "mouse.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    combos {
        compatible = "zmk,combos";

        game_layer {
            bindings = <&to 5>;
            key-positions = <50 57 12>;
            timeout-ms = <30000>;
            layers = <0 3>;
        };

        normal_layer {
            bindings = <&to 0>;
            key-positions = <50 57 12>;
            timeout-ms = <30000>;
            layers = <5>;
        };

        rEp {
            bindings = <&ext_power EP_TOG>;
            key-positions = <43 11>;
            layers = <0 2 3 4 5 6 7 8>;
        };

        lEg {
            bindings = <&ext_power EP_TOG>;
            key-positions = <42 0>;
            layers = <0 3 2 4 5 6 7 8>;
        };
    };

    macros {
        kurung: kurung {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N9) &kp LS(N0)>;
            label = "KURUNG";
        };

        kurung2: kurung2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_BRACKET) &kp LS(RIGHT_BRACKET)>;
            label = "KURUNG2";
        };

        kurung3: kurung3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET>;
            label = "KURUNG3";
        };

        replace: replace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &mkp LCLK &kp LC(V)>;
            label = "REPLACE";
        };

        block_and_copy: block_and_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &mkp LCLK &kp LC(C)>;
            label = "BLOCK_AND_COPY";
        };

        sticky_shift_layer: sticky_shift_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&none>;

            label = "STICKY_SHIFT_LAYER";
        };

        spam_f: spam_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp F>,
                <&macro_wait_time 150>,
                <&kp F>,
                <&macro_wait_time 150>,
                <&kp F>,
                <&macro_wait_time 150>,
                <&kp F>,
                <&macro_wait_time 150>,
                <&kp F>,
                <&macro_wait_time 150>,
                <&kp F>,
                <&macro_wait_time 150>,
                <&kp F>,
                <&macro_wait_time 150>,
                <&kp F>,
                <&macro_wait_time 150>,
                <&kp F>,
                <&macro_wait_time 50>,
                <&kp F>;

            label = "SPAM_F";
        };

        hold_left_click: hold_left_click {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&mkp MB1>;

            label = "HOLD_LEFT_CLICK";
        };

        username_pc_kantor: username_pc_kantor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(A) &kp D &kp M &kp I &kp N &kp I &kp S &kp T &kp R &kp A &kp T &kp O &kp R>;
            label = "USERNAME_PC_KANTOR";
        };

        pw_pc_kantor: pw_pc_kantor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp N4 &kp P &kp DOT &kp LS(P) &kp N0 &kp N &kp C &kp N0 &kp LS(L) &kp AT &kp N1 &kp N3 &kp N7 &kp N4 &kp N0>;
            label = "PW_PC_KANTOR";
        };

        pass_windows_kantor: pass_windows_kantor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(D) &kp N1 &kp LS(K) &kp N4 &kp DOT &kp N2 &kp N0 &kp N2 &kp N4>;
            label = "PASS_WINDOWS_KANTOR";
        };

        hold_scroll_up: hold_scroll_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&msc SCROLL_UP>;

            label = "HOLD_SCROLL_UP";
        };

        release_left_click: release_left_click {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release>, <&mkp MB1>;

            label = "RELEASE_LEFT_CLICK";
        };

        release_scroll_up: release_scroll_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release>, <&msc SCROLL_UP>;

            label = "RELEASE_SCROLL_UP";
        };

        hold_scroll_down: hold_scroll_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&msc SCROLL_DOWN>;

            label = "HOLD_SCROLL_DOWN";
        };

        relase_scroll_down: relase_scroll_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release>, <&msc SCROLL_DOWN>;

            label = "RELASE_SCROLL_DOWN";
        };
    };

    behaviors {
        mo_stickyKey: mo_stickyKey {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_STICKYKEY";
            bindings = <&mo>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        faster_mouse: faster_mouse {
            compatible = "zmk,behavior-mouse-move";
            label = "FASTER_MOUSE";
            #binding-cells = <1>;
            time-to-max-speed-ms = <100>;
            acceleration-exponent = <2>;
            delay-ms = <1>;
        };

        faster_scroll: faster_scroll {
            compatible = "zmk,behavior-mouse-scroll";
            label = "FASTER_SCROLL";
            #binding-cells = <1>;
            time-to-max-speed-ms = <100>;
            acceleration-exponent = <2>;
            delay-ms = <1>;
        };

        short_layer_tap: short_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "SHORT_LAYER_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            flavor = "hold-preferred";
        };

        long_hold_tap: long_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <1000>;
            flavor = "tap-preferred";
        };

        space_shift: space_shift {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&sk LEFT_SHIFT>;

            tapping-term-ms = <250>;
        };

        mo_tap: mo_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TAP";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        to_mo: to_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "TO_MO";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <235>;
        };

        hodlTo_tapKp: hodlTo_tapKp {
            compatible = "zmk,behavior-hold-tap";
            label = "HODLTO_TAPKP";
            bindings = <&kp>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };

        custom_hold_tap: custom_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "CUSTOM_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        to_to: to_to {
            compatible = "zmk,behavior-hold-tap";
            label = "TO_TO";
            bindings = <&to>, <&to>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
        };

        rshift_tap_dance: rshift_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "RSHIFT_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&to 7>, <&to 4>, <&to 8>, <&to 5>;

            tapping-term-ms = <399>;
        };

        mo_with_tapdance: mo_with_tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_WITH_TAPDANCE";
            bindings = <&mo>, <&rshift_tap_dance>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
        };

        stickyLayer_tap: stickyLayer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKYLAYER_TAP";
            bindings = <&sl>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        tapKp_holdTo: tapKp_holdTo {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPKP_HOLDTO";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        tapTo_holdBootloader: tapTo_holdBootloader {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPTO_HOLDBOOTLOADER";
            bindings = <&bootloader>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        tapKp_Bootloader: tapKp_Bootloader {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPKP_BOOTLOADER";
            bindings = <&bootloader>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        tapKp_holdSysReset: tapKp_holdSysReset {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPKP_HOLDSYSRESET";
            bindings = <&sys_reset>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        leftShiftTapDance: leftShiftTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFTSHIFTTAPDANCE";
            #binding-cells = <0>;
            bindings = <&to 8>, <&to 3>;

            tapping-term-ms = <400>;
        };

        mo_leftShiftTapDance: mo_leftShiftTapDance {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_LEFTSHIFTTAPDANCE";
            bindings = <&mo>, <&leftShiftTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        hold_left_click_tap_dance: hold_left_click_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "HOLD_LEFT_CLICK_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&hold_left_click>, <&release_left_click>;

            tapping-term-ms = <400>;
        };

        scroll_up_tap_dance: scroll_up_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "SCROLL_UP_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&hold_scroll_up>, <&release_scroll_up>;
        };

        scroll_down_tap_dance: scroll_down_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "SCROLL_DOWN_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&hold_scroll_down>, <&relase_scroll_down>;
        };

        caps_enter_tapdance: caps_enter_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_ENTER_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp ENTER>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer = <&connection_layer>;

        default_layer: default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  ENTER |  | SPACE | RAISE| BSPC  | GUI   |

            bindings = <
&kp BACKSPACE  &kp N1  &kp N2  &kp N3                     &kp N4                             &kp N5                                                              &kp N6                               &kp N7                 &kp N8                             &kp N9   &kp N0     &kp BACKSPACE
&kp TAB        &kp Q   &kp W   &kp E                      &kp R                              &kp T                                                               &kp Y                                &kp U                  &kp I                              &kp O    &kp P      &kp MINUS
&kp LCTRL      &kp A   &kp S   &kp D                      &kp F                              &kp G                                                               &kp H                                &kp J                  &kp K                              &kp L    &kp SEMI   &short_layer_tap 7 ENTER
&mkp LCLK      &kp Z   &kp X   &kp C                      &kp V                              &kp B      &lt 4 N                            &lt 4 B               &kp N                                &kp M                  &kp COMMA                          &kp DOT  &kp SLASH  &kp ENTER
                               &mo_leftShiftTapDance 7 0  &custom_hold_tap LEFT_SHIFT SPACE  &kp SPACE  &custom_hold_tap CAPSLOCK ENTER    &mt LEFT_ALT LA(TAB)  &custom_hold_tap LEFT_WIN BACKSPACE  &mo_with_tapdance 3 0  &custom_hold_tap LEFT_SHIFT SPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans     &trans     &trans           &trans    &trans    &trans
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6                          &kp F7     &kp F8     &kp F9           &kp F10   &kp F11   &kp F12
&kp GRAVE   &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT                       &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp TILDE
&trans      &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans     &kp MINUS  &kp KP_PLUS      &kp LBRC  &kp RBRC  &kp PIPE
                                        &trans        &trans        &trans        &trans    &trans  &trans     &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans     &trans  &trans  &trans   &trans   &trans                     &trans       &trans     &trans     &trans    &trans     &trans
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                     &kp N6       &kp N7     &kp N8     &kp N9    &kp N0     &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &trans       &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                           &trans   &trans   &trans   &trans    &trans  &trans       &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        symbol_layer {
            bindings = <
&kp ESCAPE               &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(N5)                                     &kp LS(NUMBER_6)  &kp LS(N7)            &kp LS(N8)             &kp LS(N9)        &kp LS(N0)                &kp BACKSPACE
&mt LC(LS(Z)) LC(LS(Z))  &kp NUMBER_7      &kp NUMBER_8      &kp NUMBER_9      &kp MINUS         &msc SCROLL_UP                                 &trans            &kp LC(LS(UP_ARROW))  &kp LS(LEFT_BRACKET)   &kp LS(NUMBER_4)  &kp LS(NON_US_BACKSLASH)  &kp LS(MINUS)
&kp NUMBER_0             &kp NUMBER_4      &kp NUMBER_5      &kp NUMBER_6      &kp PLUS          &msc SCROLL_DOWN                               &trans            &kp LC(LS(DOWN))      &kp LS(RIGHT_BRACKET)  &kp LS(SQT)       &kp LS(SEMICOLON)         &kp LS(ENTER)
&mkp LCLK                &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3      &kp EQUAL         &kp LC(LS(Z))          &to 5    &trans         &kp SQT           &kp SQT               &kp LS(COMMA)          &kp LS(PERIOD)    &kp QUESTION              &trans
                                                             &mo 7             &mo_tap 7 SPACE   &tapKp_holdTo 0 SPACE  &to 0    &kp LC(SLASH)  &kp END           &kp LSHFT             &kp LEFT_SHIFT
            >;
        };

        connection_layer: connection_layer {
            bindings = <
&kp GRAVE     &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                                                                  &kp F6                          &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                                                            &trans                          &trans  &trans  &trans  &trans   &kp F12
&trans        &trans        &trans        &trans        &trans        &kp LG(LS(Q))                                                                           &trans                          &trans  &trans  &trans  &trans   &trans
&kp LEFT_WIN  &kp LEFT_WIN  &trans        &trans        &trans        &ext_power EP_TOG            &trans                       &trans                        &ext_power EP_TOG               &trans  &trans  &trans  &trans   &trans
                                          &kp LSHFT     &kp LSHFT     &tapKp_holdSysReset 0 SPACE  &tapTo_holdBootloader 0 0    &tapKp_Bootloader 0 LEFT_ALT  &tapKp_holdSysReset 0 LEFT_WIN  &trans  &trans
            >;
        };

        game_layer {
            bindings = <
&kp M      &kp N1  &kp N2                         &kp N3                          &kp N4     &kp N5                                                                   &kp N6        &kp N7                 &kp N8                             &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W                          &kp E                           &kp R      &kp T                                                                    &kp Y         &kp U                  &kp I                              &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S                          &kp D                           &kp F      &kp G                                                                    &kp H         &kp J                  &kp K                              &kp L    &kp SEMI  &kp ENTER
&mkp LCLK  &kp Z   &custom_hold_tap LEFT_SHIFT X  &kp C                           &kp V      &kp B                            &kp LEFT_WIN    &kp LG(LC(LEFT_ARROW))  &kp N         &kp M                  &kp COMMA                          &kp DOT  &kp FSLH  &kp ENTER
                                                  &stickyLayer_tap 10 LEFT_SHIFT  &kp SPACE  &custom_hold_tap LEFT_ALT SPACE  &to_to 6 0      &kp LG(LS(Q))           &kp LEFT_WIN  &mo_with_tapdance 3 0  &custom_hold_tap LEFT_SHIFT SPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        game_layer_arrow {
            bindings = <
&kp M      &kp N1          &kp N2          &kp N3     &kp N4     &kp N5                                                     &kp N6        &kp N7     &kp N8     &kp N9   &kp N0    &kp ESC
&kp TAB    &kp Q           &kp UP_ARROW    &kp E      &kp R      &kp T                                                      &kp Y         &kp U      &kp I      &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &kp F      &kp G                                                      &kp H         &kp J      &kp K      &kp L    &kp SEMI  &kp ENTER
&mkp LCLK  &kp Z           &kp X           &kp C      &kp V      &kp B         &kp LG(LC(RIGHT))    &kp LG(LC(LEFT_ARROW))  &kp N         &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                                           &kp LSHFT  &kp SPACE  &kp LEFT_ALT  &to 0                &kp LG(LS(Q))           &kp LEFT_WIN  &kp RSHFT  &to 0
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        copy_paste_layer {
            bindings = <
&kp TILDE       &kp LC(C)               &kp LC(V)     &kp LC(A)          &kp LA(F4)       &trans                   &trans        &trans  &trans          &kp LG(LS(A))  &kp LG(LS(S))         &kp DEL
&kp LG(LS(Q))   &kp LC(LS(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LS(RIGHT))  &trans           &trans                   &trans        &trans  &trans          &kp LC(LS(F))  &kp NON_US_BACKSLASH  &kp EQUAL
&kp LEFT_SHIFT  &kp LEFT_ARROW          &kp DOWN      &kp RIGHT          &block_and_copy  &trans                   &trans        &trans  &trans          &kp SQT        &kp PLUS              &kp ENTER
&mkp LCLK       &kp HOME                &to 5         &kp END            &replace         &trans  &to 5    &trans  &trans        &trans  &kp GRAVE       &trans         &trans                &trans
                                                      &to 0              &kp SPACE        &mo 9   &to 0    &trans  &kp LEFT_ALT  &to 0   &kp LEFT_SHIFT
            >;
        };

        mouse_layerr {
            bindings = <
&kp DELETE      &hold_scroll_up          &username_pc_kantor      &pw_pc_kantor             &pass_windows_kantor  &kp NUMBER_6                           &kp N5  &trans  &trans  &trans  &trans  &trans
&kp LA(TAB)     &hold_scroll_down        &faster_mouse MOVE_UP    &mkp RCLK                 &msc SCROLL_UP        &release_scroll_up                     &kp T   &trans  &trans  &trans  &trans  &trans
&mkp LCLK       &faster_mouse MOVE_LEFT  &faster_mouse MOVE_DOWN  &faster_mouse MOVE_RIGHT  &kp LC(F)             &kp H                                  &kp G   &trans  &trans  &trans  &trans  &trans
&sk LEFT_SHIFT  &msc SCROLL_LEFT         &msc SCROLL_RIGHT        &mkp LCLK                 &msc SCROLL_DOWN      &relase_scroll_down  &trans    &trans  &kp B   &trans  &trans  &trans  &trans  &trans
                                                                  &to 0                     &trans                &trans               &to 0     &trans  &trans  &trans  &trans
            >;
        };

        layer_9 {
            bindings = <
&kp BACKSPACE  &kp N6  &kp N7  &kp N8     &kp N9     &kp N0                               &kp N6        &kp N7  &kp N8     &kp N9   &kp N0        &kp BACKSPACE
&kp TAB        &kp Q   &kp W   &kp E      &kp R      &kp T                                &kp Y         &kp U   &kp I      &kp O    &kp P         &kp MINUS
&kp LCTRL      &kp A   &kp S   &kp D      &kp F      &kp G                                &kp H         &kp J   &kp K      &kp L    &kp SEMI      &kp ENTER
&mkp LCLK      &kp Z   &kp X   &kp C      &kp V      &kp B      &kp CAPS    &mo 4         &kp N         &kp M   &kp COMMA  &kp DOT  &kp LS(FSLH)  &kp ENTER
                               &kp LSHFT  &kp SPACE  &kp SPACE  &to 7       &kp LEFT_ALT  &kp LEFT_WIN  &mo 3   &mo 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        additional_game_layer {
            bindings = <
&kp ESCAPE     &kp LA(NUMBER_1)            &kp LA(NUMBER_2)  &kp LA(NUMBER_3)     &kp LA(NUMBER_4)  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&kp LG(LS(Q))  &hold_left_click_tap_dance  &kt W             &release_left_click  &trans            &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&kp T          &kt A                       &kt S             &kt D                &spam_f           &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans         &trans                      &kt X             &kt LEFT_SHIFT       &trans            &trans         &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                                             &to 5                &trans            &kp LA(ENTER)  &kp LG(LS(Q))    &trans  &trans  &trans  &trans
            >;
        };

        numpad_or_shortcut_layer {
            bindings = <
&kp F1   &kp F2        &kp F3        &kp F4        &kp F5     &kp F6                                &kp F7  &kp F8  &kp F9          &kp F10  &kp F11  &kp BACKSPACE
&kp F7   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp LC(R)  &kp ASTERISK                          &trans  &trans  &trans          &trans   &trans   &kp F12
&kp F9   &kp LC(A)     &kp NUMBER_5  &kp NUMBER_6  &kp LC(F)  &kp PLUS                              &trans  &trans  &trans          &trans   &trans   &kp ENTER
&kp F11  &kp NUMBER_1  &kp NUMBER_2  &kp LC(C)     &kp LC(V)  &kp MINUS     &trans    &trans        &trans  &trans  &trans          &trans   &trans   &trans
                                     &kp EQUAL     &kp SPACE  &kp NUMBER_0  &to 0     &kp CAPSLOCK  &trans  &mo 3   &kp LEFT_SHIFT
            >;
        };
    };
};
