/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define SPLIT_USB_DETECT
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 600    // default: 10

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        kurung: kurung {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N9) &kp LS(N0)>;
            label = "KURUNG";
        };

        kurung2: kurung2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LEFT_BRACKET) &kp LS(RIGHT_BRACKET)>;
            label = "KURUNG2";
        };

        kurung3: kurung3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET>;
            label = "KURUNG3";
        };

        replace: replace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &mkp LCLK &kp LC(V)>;
            label = "REPLACE";
        };

        block_and_copy: block_and_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &mkp LCLK &kp LC(C)>;
            label = "BLOCK_AND_COPY";
        };

        sticky_shift_layer: sticky_shift_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&none>;

            label = "STICKY_SHIFT_LAYER";
        };

        spam_f: spam_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>,
                <&macro_wait_time 300>,
                <&kp F>;

            label = "SPAM_F";
        };

        username_pc_kantor: username_pc_kantor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(A) &kp D &kp M &kp I &kp N &kp I &kp S &kp T &kp R &kp A &kp T &kp O &kp R>;
            label = "USERNAME_PC_KANTOR";
        };

        pw_pc_kantor: pw_pc_kantor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp N4 &kp P &kp DOT &kp LS(P) &kp N0 &kp N &kp C &kp N0 &kp LS(L) &kp AT &kp N1 &kp N3 &kp N7 &kp N4 &kp N0>;
            label = "PW_PC_KANTOR";
        };

        pass_windows_kantor: pass_windows_kantor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(D) &kp N1 &kp LS(K) &kp N4 &kp DOT &kp N2 &kp N0 &kp N2 &kp N4>;
            label = "PASS_WINDOWS_KANTOR";
        };

        gap_port: gap_port {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp A &kp P &kp P &kp R &kp I &kp N &kp T &kp AT &kp N2 &kp N0 &kp N2 &kp N1>;
            label = "GAP_PORT";
        };

        hold_scroll_up: hold_scroll_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&msc SCRL_UP>;

            label = "HOLD_SCROLL_UP";
        };

        hold_scroll_down: hold_scroll_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&msc SCRL_DOWN>;

            label = "HOLD_SCROLL_DOWN";
        };

        commaMacro: commaMacro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&CommaTapDance>;

            label = "COMMAMACRO";
        };

        batch_left: batch_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW>;
            label = "BATCH_LEFT";
        };

        batch_right: batch_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_ARROW &kp RIGHT_ARROW &kp RIGHT_ARROW &kp RIGHT_ARROW &kp RIGHT_ARROW>;
            label = "BATCH_RIGHT";
        };

        batch_right_select: batch_right_select {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(RIGHT_ARROW)) &kp LC(LS(RIGHT_ARROW)) &kp LC(LS(RIGHT_ARROW)) &kp LC(LS(RIGHT_ARROW))>;
            label = "BATCH_RIGHT_SELECT";
        };

        batch_left_select: batch_left_select {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tapKp_holdSysReset 0 LC(LS(LEFT_ARROW)) &kp LS(LC(LEFT_ARROW)) &kp LC(LS(LEFT_ARROW)) &kp LC(LS(LEFT_ARROW))>;
            label = "BATCH_LEFT_SELECT";
        };

        MidMouseHold: MidMouseHold {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&mkp MCLK>;

            label = "MIDMOUSEHOLD";
        };

        MidMouseRelease: MidMouseRelease {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release>, <&mkp MCLK>;

            label = "MIDMOUSERELEASE";
        };

        Left_Scroll: Left_Scroll {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&msc SCRL_LEFT>;

            label = "LEFT_SCROLL";
        };

        Right_Scroll: Right_Scroll {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&msc SCRL_RIGHT>;

            label = "RIGHT_SCROLL";
        };
    };

    behaviors {
        mo_stickyKey: mo_stickyKey {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_STICKYKEY";
            bindings = <&mo>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        short_layer_tap: short_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "SHORT_LAYER_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            flavor = "hold-preferred";
        };

        long_hold_tap: long_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <1000>;
            flavor = "tap-preferred";
        };

        space_shift: space_shift {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&sk LEFT_SHIFT>;

            tapping-term-ms = <250>;
        };

        mo_tap: mo_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TAP";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        to_mo: to_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "TO_MO";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <235>;
        };

        hodlTo_tapKp: hodlTo_tapKp {
            compatible = "zmk,behavior-hold-tap";
            label = "HODLTO_TAPKP";
            bindings = <&kp>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };

        custom_hold_tap: custom_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "CUSTOM_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "hold-preferred";
        };

        to_to: to_to {
            compatible = "zmk,behavior-hold-tap";
            label = "TO_TO";
            bindings = <&to>, <&to>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
        };

        rshift_tap_dance: rshift_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "RSHIFT_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&to 7>, <&to 4>, <&to 8>, <&to 5>;

            tapping-term-ms = <399>;
        };

        mo_with_tapdance: mo_with_tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_WITH_TAPDANCE";
            bindings = <&mo>, <&rshift_tap_dance>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
        };

        stickyLayer_tap: stickyLayer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKYLAYER_TAP";
            bindings = <&sl>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        tapKp_holdTo: tapKp_holdTo {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPKP_HOLDTO";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        tapTo_holdBootloader: tapTo_holdBootloader {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPTO_HOLDBOOTLOADER";
            bindings = <&bootloader>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        tapKp_Bootloader: tapKp_Bootloader {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPKP_BOOTLOADER";
            bindings = <&bootloader>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        tapKp_holdSysReset: tapKp_holdSysReset {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPKP_HOLDSYSRESET";
            bindings = <&sys_reset>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        leftShiftTapDance: leftShiftTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFTSHIFTTAPDANCE";
            #binding-cells = <0>;
            bindings = <&to 8>, <&to 3>;

            tapping-term-ms = <400>;
        };

        mo_leftShiftTapDance: mo_leftShiftTapDance {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_LEFTSHIFTTAPDANCE";
            bindings = <&mo>, <&leftShiftTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        caps_enter_tapdance: caps_enter_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_ENTER_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp ENTER>, <&kp CAPS>;
        };

        layer_tap_dance: layer_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&to 8>, <&to 7>, <&to 5>;

            tapping-term-ms = <350>;
        };

        layer_hold_tap_dance: layer_hold_tap_dance {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD_TAP_DANCE";
            bindings = <&mo>, <&layer_tap_dance>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
        };

        shift_space_tap_dance: shift_space_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFT_SPACE_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp LEFT_SHIFT>;

            tapping-term-ms = <180>;
        };

        tapTo_HoldKp: tapTo_HoldKp {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPTO_HOLDKP";
            bindings = <&kp>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        holdMo_tapKp: holdMo_tapKp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDMO_TAPKP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        wTapDance: wTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "WTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp W>, <&kp W>, <&kt W>;

            tapping-term-ms = <280>;
        };

        sTapDance: sTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "STAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <280>;
            bindings = <&kp S>, <&kp S>, <&kt S>;
        };

        aTapDance: aTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "ATAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp A>, <&kt A>;

            tapping-term-ms = <280>;
        };

        dTapDance: dTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "DTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp D>, <&kt D>;

            tapping-term-ms = <280>;
        };

        wHoldTapDance: wHoldTapDance {
            compatible = "zmk,behavior-hold-tap";
            label = "WHOLDTAPDANCE";
            bindings = <&kp>, <&wTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <210>;
        };

        sHoldTapDance: sHoldTapDance {
            compatible = "zmk,behavior-hold-tap";
            label = "SHOLDTAPDANCE";
            bindings = <&kp>, <&sTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
        };

        aHoldTapDance: aHoldTapDance {
            compatible = "zmk,behavior-hold-tap";
            label = "AHOLDTAPDANCE";
            bindings = <&kp>, <&aTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        dHoldTapDance: dHoldTapDance {
            compatible = "zmk,behavior-hold-tap";
            label = "DHOLDTAPDANCE";
            bindings = <&kp>, <&dTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        TapDance1: TapDance1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE1";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_1>, <&kp NUMBER_6>;

            tapping-term-ms = <300>;
        };

        TapDance2: TapDance2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE2";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2>, <&kp N7>;

            tapping-term-ms = <300>;
        };

        TapDance3: TapDance3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE3";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_3>, <&kp N8>;

            tapping-term-ms = <300>;
        };

        TapDance4: TapDance4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE4";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_4>, <&kp N9>;

            tapping-term-ms = <300>;
        };

        TapDance5: TapDance5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE5";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp N0>;

            tapping-term-ms = <300>;
        };

        holdTapDance1: holdTapDance1 {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPDANCE1";
            bindings = <&kp>, <&TapDance1>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        holdTapDance2: holdTapDance2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPDANCE2";
            bindings = <&kp>, <&TapDance2>;

            #binding-cells = <2>;
            tapping-term-ms = <239>;
        };

        holdTapDance3: holdTapDance3 {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPDANCE3";
            bindings = <&kp>, <&TapDance3>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        holdTapDance4: holdTapDance4 {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPDANCE4";
            bindings = <&kp>, <&TapDance4>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        holdTapDance5: holdTapDance5 {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPDANCE5";
            bindings = <&kp>, <&TapDance5>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        fTapDance: fTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "FTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp F>, <&spam_f>, <&kt F>;

            tapping-term-ms = <250>;
        };

        fHoldTapDance: fHoldTapDance {
            compatible = "zmk,behavior-hold-tap";
            label = "FHOLDTAPDANCE";
            bindings = <&kp>, <&fTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <199>;
        };

        mTapDance: mTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "MTAPDANCE";
            #binding-cells = <0>;
            bindings = <&MiddleClickShift>, <&kp M>;

            tapping-term-ms = <310>;
        };

        capsTapDance: capsTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPSTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&kp CLCK>;

            tapping-term-ms = <280>;
        };

        holdTapMsc: holdTapMsc {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAPMSC";
            bindings = <&msc>, <&msc>;

            #binding-cells = <2>;
            tapping-term-ms = <30>;
            quick-tap-ms = <300>;
        };

        holdCapsTapDance: holdCapsTapDance {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDCAPSTAPDANCE";
            bindings = <&kp>, <&capsTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        leftClickCommentOut: leftClickCommentOut {
            compatible = "zmk,behavior-mod-morph";
            label = "LEFTCLICKCOMMENTOUT";
            bindings = <&mkp LCLK>, <&kp LC(SLASH)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        DasArrowMorph: DasArrowMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "DASARROWMORPH";
            bindings = <&kp D>, <&kp RIGHT>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        AasArrowMorph: AasArrowMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "AASARROWMORPH";
            bindings = <&kp A>, <&kp LEFT_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        SasArrowMorph: SasArrowMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SASARROWMORPH";
            bindings = <&kp S>, <&kp DOWN_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        WasArrowMorph: WasArrowMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "WASARROWMORPH";
            bindings = <&kp W>, <&kp UP_ARROW>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        EasRBlockMorph: EasRBlockMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "EASRBLOCKMORPH";
            bindings = <&kp E>, <&kp LC(LS(RIGHT_ARROW))>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        QasLBlockMorph: QasLBlockMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "QASLBLOCKMORPH";
            bindings = <&kp Q>, <&kp LC(LS(LEFT_ARROW))>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        CasEndMorph: CasEndMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "CASENDMORPH";
            bindings = <&kp C>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        XasEndMorph: XasEndMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "XASENDMORPH";
            bindings = <&kp X>, <&kp HOME>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        WinShiftQMorph: WinShiftQMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "WINSHIFTQMORPH";
            bindings = <&long_mo_hold_tap 7 SPACE>, <&kp LG(LS(Q))>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        RBackspaceMorph: RBackspaceMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "RBACKSPACEMORPH";
            bindings = <&kp BACKSPACE>, <&kp LC(EQUAL)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        GraveTapDance: GraveTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "GRAVETAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp GRAVE>;

            tapping-term-ms = <300>;
        };

        LBackspaceMorph: LBackspaceMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "LBACKSPACEMORPH";
            bindings = <&kp BACKSPACE>, <&GraveTapDance>;

            #binding-cells = <0>;
            mods = <(MOD_RCTL|MOD_LCTL)>;
        };

        RBackspaceMorphFinal: RBackspaceMorphFinal {
            compatible = "zmk,behavior-mod-morph";
            label = "RBACKSPACEMORPHFINAL";
            bindings = <&RBackspaceMorph>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        CommaTapDance: CommaTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "COMMATAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LEFT_BRACKET>, <&kp LEFT_BRACE>;

            tapping-term-ms = <300>;
        };

        TitikTapDance: TitikTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "TITIKTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp RIGHT_BRACKET>, <&kp RIGHT_BRACE>;

            tapping-term-ms = <300>;
        };

        QuestionMarkTapDance: QuestionMarkTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "QUESTIONMARKTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp QUESTION>;

            tapping-term-ms = <210>;
        };

        QuestionMarkHoldTap: QuestionMarkHoldTap {
            compatible = "zmk,behavior-hold-tap";
            label = "QUESTIONMARKHOLDTAP";
            bindings = <&kp>, <&QuestionMarkTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            flavor = "tap-preferred";
        };

        MinusTapDance: MinusTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "MINUSTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp PIPE>, <&kp NON_US_BACKSLASH>;

            tapping-term-ms = <300>;
        };

        MinusHoldTap: MinusHoldTap {
            compatible = "zmk,behavior-hold-tap";
            label = "MINUSHOLDTAP";
            bindings = <&kp>, <&MinusTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
            flavor = "tap-preferred";
        };

        PetikTapDance: PetikTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "PETIKTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp DOUBLE_QUOTES>, <&kp SQT>;

            tapping-term-ms = <300>;
        };

        MscUpTapDance: MscUpTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "MSCUPTAPDANCE";
            #binding-cells = <0>;
            bindings = <&msc MOVE_UP>, <&msc MOVE_UP>;

            tapping-term-ms = <300>;
        };

        MscDownTapDance: MscDownTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "MSCDOWNTAPDANCE";
            #binding-cells = <0>;
            bindings = <&msc MOVE_DOWN>, <&msc MOVE_DOWN>;

            tapping-term-ms = <300>;
        };

        EscDeleteTapDance: EscDeleteTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "ESCDELETETAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp DELETE>, <&kp ESCAPE>;

            tapping-term-ms = <240>;
        };

        GlobalStickyKey: GlobalStickyKey {
            compatible = "zmk,behavior-sticky-key";
            label = "GLOBALSTICKYKEY";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <300>;
        };

        CustomHoldTapSticky: CustomHoldTapSticky {
            compatible = "zmk,behavior-hold-tap";
            label = "CUSTOMHOLDTAPSTICKY";
            bindings = <&kp>, <&GlobalStickyKey>;

            #binding-cells = <2>;
            tapping-term-ms = <240>;
        };

        long_mo_hold_tap: long_mo_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_MO_HOLD_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <600>;
        };

        semicolon_morph: semicolon_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "SEMICOLON_MORPH";
            bindings = <&kp SEMICOLON>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        comma_morph: comma_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_MORPH";
            bindings = <&kp COMMA>, <&kp LEFT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        titik_morph: titik_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "TITIK_MORPH";
            bindings = <&kp PERIOD>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        minus_morph: minus_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_MORPH";
            bindings = <&kp MINUS>, <&kp NON_US_BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-tap-dance";
            label = "NEW_BEHAVIOR";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp A>, <&kt A>;

            tapping-term-ms = <250>;
        };

        DoubleShiftTapDance: DoubleShiftTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLESHIFTTAPDANCE";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&kt LSHFT>;

            tapping-term-ms = <250>;
        };

        DoubleShiftHoldTap: DoubleShiftHoldTap {
            compatible = "zmk,behavior-hold-tap";
            label = "DOUBLESHIFTHOLDTAP";
            bindings = <&kp>, <&DoubleShiftTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
        };

        MidClickTapDance: MidClickTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "MIDCLICKTAPDANCE";
            #binding-cells = <0>;
            bindings = <&MidMouseHold>, <&MidMouseRelease>;

            tapping-term-ms = <250>;
        };

        ScrollUpTapDance: ScrollUpTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "SCROLLUPTAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&msc MOVE_UP>, <&hold_scroll_up>;
        };

        ScrollUpHoldTap: ScrollUpHoldTap {
            compatible = "zmk,behavior-hold-tap";
            label = "SCROLLUPHOLDTAP";
            bindings = <&msc>, <&ScrollUpTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
        };

        ScrollDownTapDance: ScrollDownTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "SCROLLDOWNTAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&msc MOVE_DOWN>, <&hold_scroll_down>;
        };

        ScrollDownHoldTap: ScrollDownHoldTap {
            compatible = "zmk,behavior-hold-tap";
            label = "SCROLLDOWNHOLDTAP";
            bindings = <&msc>, <&ScrollDownTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
        };

        ScrollLeftTapDance: ScrollLeftTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "SCROLLLEFTTAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&msc MOVE_LEFT>, <&Left_Scroll>;
        };

        ScrollLeftHoldtTap: ScrollLeftHoldtTap {
            compatible = "zmk,behavior-hold-tap";
            label = "SCROLLLEFTHOLDTTAP";
            bindings = <&msc>, <&ScrollLeftTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
        };

        ScrollRightTapDance: ScrollRightTapDance {
            compatible = "zmk,behavior-tap-dance";
            label = "SCROLLRIGHTTAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&msc MOVE_RIGHT>, <&Right_Scroll>;
        };

        ScrollRightHoldTap: ScrollRightHoldTap {
            compatible = "zmk,behavior-hold-tap";
            label = "SCROLLRIGHTHOLDTAP";
            bindings = <&msc>, <&ScrollRightTapDance>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
        };

        TestMiddleClick: TestMiddleClick {
            compatible = "zmk,behavior-mouse-key-press";
            label = "TESTMIDDLECLICK";
            #binding-cells = <1>;
        };

        MiddleClickShift: MiddleClickShift {
            compatible = "zmk,behavior-mod-morph";
            label = "MIDDLECLICKSHIFT";
            bindings = <&kp ESC>, <&mkp MB3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer: default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  ENTER |  | SPACE | RAISE| BSPC  | GUI   |

            bindings = <
&LBackspaceMorph      &kp N1  &kp N2  &kp N3                     &kp N4                             &kp N5                                                       &kp N6                                &kp N7                 &kp N8                        &kp N9        &kp N0                 &RBackspaceMorphFinal
&kp TAB               &kp Q   &kp W   &kp E                      &kp R                              &kp T                                                        &kp Y                                 &kp U                  &kp I                         &kp O         &kp P                  &minus_morph
&kp LCTRL             &kp A   &kp S   &kp D                      &kp F                              &kp G                                                        &kp H                                 &kp J                  &kp K                         &kp L         &semicolon_morph       &short_layer_tap 7 ENTER
&leftClickCommentOut  &kp Z   &kp X   &kp C                      &kp V                              &kp B      &lt 4 N                         &lt 4 B           &kp N                                 &kp M                  &comma_morph                  &titik_morph  &QuestionMarkTapDance  &kp ENTER
                                      &layer_hold_tap_dance 3 0  &custom_hold_tap LEFT_SHIFT SPACE  &kp SPACE  &holdCapsTapDance LEFT_ALT 0    &mt RALT RA(TAB)  &CustomHoldTapSticky RIGHT_WIN RSHFT  &holdMo_tapKp 3 SPACE  &custom_hold_tap RCTRL SPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans     &trans     &trans           &trans    &trans    &trans
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6                          &kp F7     &kp F8     &kp F9           &kp F10   &kp F11   &kp F12
&kp GRAVE   &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT                       &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp TILDE
&trans      &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans     &kp MINUS  &kp KP_PLUS      &kp LBRC  &kp RBRC  &kp PIPE
                                        &trans        &trans        &trans        &trans    &trans  &trans     &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans     &trans  &trans  &trans   &trans   &trans                     &trans       &trans     &trans     &trans    &trans     &trans
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                     &kp N6       &kp N7     &kp N8     &kp N9    &kp N0     &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &trans       &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                           &trans   &trans   &trans   &trans    &trans  &trans       &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        symbol_layer {
            bindings = <
&EscDeleteTapDance  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(N5)                                     &kp LS(NUMBER_6)  &kp LS(N7)            &kp LS(N8)       &kp LS(N9)         &kp LS(N0)    &kp BACKSPACE
&kp LS(LG(Q))       &kp NUMBER_7      &kp NUMBER_8      &kp NUMBER_9      &kp MINUS         &trans                                         &trans            &kp LC(LS(UP_ARROW))  &kp LEFT_BRACE   &kp GRAVE          &kp PIPE      &kp EQUAL
&kp NUMBER_0        &kp NUMBER_4      &kp NUMBER_5      &kp NUMBER_6      &kp PLUS          &mkp MB3                                       &kp TILDE         &kp LC(LS(DOWN))      &kp RIGHT_BRACE  &kp DOUBLE_QUOTES  &kp COLON     &kp LS(ENTER)
&mkp LCLK           &kp NUMBER_1      &kp NUMBER_2      &kp NUMBER_3      &kp EQUAL         &to 3                  &to 5    &trans         &kp SQT           &kp SQT               &kp LEFT_BRACE   &kp RIGHT_BRACE    &kp QUESTION  &trans
                                                        &mo 7             &mo_tap 7 SPACE   &tapKp_holdTo 0 SPACE  &to 0    &kp LC(SLASH)  &kp END           &kp LSHFT             &kp LEFT_SHIFT
            >;
        };

        connection_layer: connection_layer {
            bindings = <
&kp GRAVE   &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                                                                  &kp F6                          &kp F7  &kp F8     &kp F9  &kp F10  &kp F11
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                                                            &trans                          &trans  &trans     &trans  &trans   &kp F12
&trans      &trans        &trans        &trans        &trans        &kp LG(LS(Q))                                                                           &trans                          &trans  &trans     &trans  &trans   &trans
&trans      &kp LEFT_WIN  &trans        &trans        &trans        &ext_power EP_TOG            &trans                       &trans                        &ext_power EP_TOG               &trans  &trans     &trans  &trans   &trans
                                        &soft_off     &kp LSHFT     &tapKp_holdSysReset 0 SPACE  &tapTo_holdBootloader 0 0    &tapKp_Bootloader 0 LEFT_ALT  &tapKp_holdSysReset 0 LEFT_WIN  &trans  &soft_off
            >;
        };

        game_layer {
            bindings = <
&mTapDance                &kp NUMBER_1        &kp N2              &kp N3                            &kp N4              &kp N5                                                                       &kp N6        &kp N7                 &kp N8                             &kp N9   &kp N0    &kp BACKSPACE
&custom_hold_tap TAB TAB  &kp Q               &wHoldTapDance W 0  &kp E                             &kp R               &kp T                                                                        &kp Y         &kp U                  &kp I                              &kp O    &kp P     &kp MINUS
&kp LCTRL                 &aHoldTapDance A 0  &sHoldTapDance S 0  &dHoldTapDance D 0                &fHoldTapDance F 0  &kp G                                                                        &kp H         &kp J                  &kp K                              &kp L    &kp SEMI  &kp ENTER
&mkp LCLK                 &kp Z               &kp X               &kp C                             &kp V               &kp B         &custom_hold_tap LS(LG(Q)) LEFT_WIN    &kp LG(LC(LEFT_ARROW))  &kp N         &kp M                  &kp COMMA                          &kp DOT  &kp FSLH  &kp ENTER
                                                                  &DoubleShiftHoldTap LEFT_SHIFT 0  &kp SPACE           &kp LEFT_ALT  &to_mo 10 0                            &kp LG(LS(Q))           &kp LEFT_WIN  &mo_with_tapdance 3 0  &custom_hold_tap LEFT_SHIFT SPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        game_layer_arrow {
            bindings = <
&kp M      &kp N1          &kp N2          &kp N3     &kp N4     &kp N5                                                     &kp N6        &kp N7     &kp N8     &kp N9   &kp N0    &kp ESC
&kp TAB    &kp Q           &kp UP_ARROW    &kp E      &kp R      &kp T                                                      &kp Y         &kp U      &kp I      &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &kp F      &kp G                                                      &kp H         &kp J      &kp K      &kp L    &kp SEMI  &kp ENTER
&mkp LCLK  &kp Z           &kp X           &kp C      &kp V      &kp B         &kp LG(LC(RIGHT))    &kp LG(LC(LEFT_ARROW))  &kp N         &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                                           &kp LSHFT  &kp SPACE  &kp LEFT_ALT  &to 0                &kp LG(LS(Q))           &kp LEFT_WIN  &kp RSHFT  &to 0
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        copy_paste_layer {
            bindings = <
&kp ESCAPE          &kp LA(LS(F))           &kp LC(V)     &kp LC(A)                         &trans                             &trans                             &trans        &trans  &trans          &kp LG(LS(A))  &kp LG(LS(S))         &kp DEL
&batch_left_select  &kp LC(LS(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LS(RIGHT))                 &batch_right_select                &trans                             &trans        &trans  &trans          &kp LC(LS(F))  &kp NON_US_BACKSLASH  &kp EQUAL
&batch_left         &kp LEFT_ARROW          &kp DOWN      &kp RIGHT                         &batch_right                       &block_and_copy                    &trans        &trans  &trans          &kp SQT        &kp PLUS              &kp ENTER
&mkp LCLK           &kp HOME                &kp END       &kp LC(C)                         &kp LC(V)                          &replace          &to 5    &trans  &trans        &trans  &kp GRAVE       &trans         &trans                &trans
                                                          &custom_hold_tap LC(Y) LC(LS(Z))  &custom_hold_tap LEFT_SHIFT LC(Z)  &mo_tap 12 SPACE  &to 0    &trans  &kp LEFT_ALT  &to 0   &kp LEFT_SHIFT
            >;
        };

        mouse_layerr {
            bindings = <
&kp DELETE      &hold_scroll_down  &username_pc_kantor  &pw_pc_kantor    &pass_windows_kantor  &gap_port                            &kp N5  &trans  &trans  &trans  &trans  &trans
&kp LA(TAB)     &hold_scroll_up    &mmv MOVE_UP         &mkp RCLK        &msc SCRL_UP          &hold_scroll_up                      &kp T   &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &mmv MOVE_LEFT     &mmv MOVE_DOWN       &mmv MOVE_RIGHT  &kp LC(F)             &kp H                                &kp G   &trans  &trans  &trans  &trans  &trans
&mkp LCLK       &msc SCRL_LEFT     &msc SCRL_RIGHT      &mkp LCLK        &msc SCRL_DOWN        &hold_scroll_down  &trans    &trans  &kp B   &trans  &trans  &trans  &trans  &trans
                                                        &to 0            &Left_Scroll          &Right_Scroll      &to 0     &trans  &trans  &trans  &trans
            >;
        };

        layer_9 {
            bindings = <
&kp BACKSPACE  &kp N6  &kp N7  &kp N8     &kp N9     &kp N0                               &kp N6        &kp N7  &kp N8     &kp N9   &kp N0        &kp BACKSPACE
&kp TAB        &kp Q   &kp W   &kp E      &kp R      &kp T                                &kp Y         &kp U   &kp I      &kp O    &kp P         &kp MINUS
&kp LCTRL      &kp A   &kp S   &kp D      &kp F      &kp G                                &kp H         &kp J   &kp K      &kp L    &kp SEMI      &kp ENTER
&mkp LCLK      &kp Z   &kp X   &kp C      &kp V      &kp B      &kp CAPS    &mo 4         &kp N         &kp M   &kp COMMA  &kp DOT  &kp LS(FSLH)  &kp ENTER
                               &kp LSHFT  &kp SPACE  &kp SPACE  &to 7       &kp LEFT_ALT  &kp LEFT_WIN  &mo 3   &mo 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        additional_game_layer {
            bindings = <
&MidClickTapDance  &kp NUMBER_6  &kp N7  &kp N8     &kp N9      &kp N0                                  &trans  &trans  &trans  &trans  &trans  &trans
&kp LS(LG(Q))      &kp Y         &kp U   &kp I      &kp O       &kp P                                   &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL          &kp H         &kp J   &kp K      &kp L       &kp SEMICOLON                           &trans  &trans  &trans  &trans  &trans  &trans
&kp LA(F4)         &kp N         &kp M   &kp COMMA  &kp PERIOD  &kp SLASH      &kp ENTER        &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                         &to 5      &trans      &kp LA(ENTER)  &kp LG(LS(Q))    &trans  &trans  &trans  &trans
            >;
        };

        numpad_or_shortcut_layer {
            bindings = <
&kp F1   &kp F2        &kp F3        &kp F4        &kp F5     &kp F6                                &kp F7  &kp F8  &kp F9          &kp F10  &kp F11  &kp BACKSPACE
&kp F7   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp LC(R)  &kp ASTERISK                          &trans  &trans  &trans          &trans   &trans   &kp F12
&kp F9   &kp LC(A)     &kp NUMBER_5  &kp NUMBER_6  &kp LC(F)  &kp PLUS                              &trans  &trans  &trans          &trans   &trans   &kp ENTER
&kp F11  &kp NUMBER_1  &kp NUMBER_2  &kp LC(C)     &kp LC(V)  &kp MINUS     &trans    &trans        &trans  &trans  &trans          &trans   &trans   &trans
                                     &kp EQUAL     &kp SPACE  &kp NUMBER_0  &to 0     &kp CAPSLOCK  &trans  &mo 3   &kp LEFT_SHIFT
            >;
        };

        additional_symbol_layer {
            bindings = <
&kp ESCAPE          &kp LC(C)               &kp LC(V)     &kp LC(A)                         &trans               &trans                            &trans        &trans  &trans          &kp LG(LS(A))  &kp LG(LS(S))         &kp DEL
&batch_left_select  &kp LC(LS(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LS(RIGHT))                 &batch_right_select  &trans                            &trans        &trans  &trans          &kp LC(LS(F))  &kp NON_US_BACKSLASH  &kp EQUAL
&batch_left         &kp LEFT_ARROW          &kp DOWN      &kp RIGHT                         &batch_right         &block_and_copy                   &trans        &trans  &trans          &kp SQT        &kp PLUS              &kp ENTER
&mkp LCLK           &kp HOME                &kp END       &kp LC(C)                         &kp LC(V)            &replace         &to 5    &trans  &trans        &trans  &kp GRAVE       &trans         &trans                &trans
                                                          &custom_hold_tap LC(Y) LC(LS(Z))  &kp LC(Z)            &mo_tap 7 SPACE  &to 0    &trans  &kp LEFT_ALT  &to 0   &kp LEFT_SHIFT
            >;
        };
    };
};
